.features-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.features {
    display: flex;
    width: 100%;
    margin: 18px 0;
    overflow: hidden;
    align-items: center;
    background: var(--bg-features);
    color: var(--text-features);
}

.features:nth-child(odd) {
    flex-direction: row-reverse;
}

.photo {
    width: 50%;
    height: 100%;
    max-height: 90vh;
    display: flex;
    cursor: pointer;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    object-fit: cover;
    object-position: top;
    transition: .5s ease;
}

.photo:hover img {
    transform: scale(1.05);
}

.description {
    width: calc(50% - 140px);
    padding: 8vh 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description h2 {
    font-size: calc(1rem + 2vw);
    letter-spacing: 3px;
    margin: 0;
    text-align: center;
}

.description>p {
    font-size: calc(1.25rem + .1vw) !important;
    line-height: 1.6 !important;
    font-weight: 300 !important;
    font-family: Poppins;
    text-align: center;
    max-width: 500px;
}

.features__button {
    border: none;
    background: var(--text-features);
    border-radius: 50px;
    padding: 10px 30px;
    font-family: Poppins, sans-serif;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s ease;
    border: 3px solid var(--bg-features);
    color: var(--bg-features);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.features__button:hover {
    padding-inline: 50px;
}

.features__button:active {
    transform: scale(.95);
}

/* Features Small */
.features-small .description {
    padding-block: 5vh;
}

.features-small .description>h2 {
    font-size: calc(1rem + 1vw);
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
}

.features-small .description>p {
    font-size: 1rem !important;
    line-height: 1.6 !important;
}

.features-small .features__button {
    padding: 8px 20px;
    border: 1px solid var(--text-features);
    background: none;
    color: var(--text-features);
    text-transform: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.features-small .features__button:hover {
    padding-inline: 30px;
}

.registered {
    font-size: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 10px 1px;
}

.know__p {
    font-size: 18px !important;
    line-height: 24px !important;
}

.details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.904);
}

.details>* {
    width: 50%;
    text-align: center;
}

.details a {
    color: rgba(0, 0, 0, 0.904);
    text-decoration: underline;
}

.details a:hover {
    text-decoration: none;
}

.clarification {
    margin-top: 8vh;
    margin-inline: auto;
}

.caution {
    margin-block: 6vh;
    margin-inline: auto;
}

.alone {
    text-align: center;
}