/* Section responsive */
@media screen and (max-width: 1050px) {
    .bottom-line {
        width: 0;
    }

    .section {
        width: calc(100% - 2vh);
        padding: 0 2vh;
        overflow: hidden;
    }

    .section h6::after {
        display: none;
    }

    .section__header {
        width: 100%;
        z-index: 10;
        background: #fff;
    }

    .articles {
        flex-direction: column;
        gap: 20px;
        padding: 40px 0 30px 0;
        margin: 0 3vh;
    }

    .section__open {
        display: flex;
    }

    .section ul {
        height: max-content;
        height: 0;
        transform: translateY(-150%);
        transition: .3s ease;
    }

    .articles li {
        width: max-content;
    }

    .expand ul {
        /* opened class */
        height: max-content;
        transform: translateY(0%);
        flex-direction: column;
        transition: .3s ease;
    }

    .expand .section__open ion-icon {
        transform: rotate(-180deg);
    }

    .section-details {
        width: 80%;
    }

    .section-details li {
        width: 100%;
    }

    .section:not(.expand) .bottom-line {
        width: 0;
    }

    .expand .bottom-line {
        width: 50px;
        transition: .3s ease;
    }

    .expand:hover .bottom-line {
        width: 50px;
    }
}

@media screen and (max-width:850px) {
    header {
        flex-direction: column;
        height: max-content !important;
        gap: 10vh;
    }

    .header__left {
        width: 90%;
        height: max-content !important;
        padding: 0 5%;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .header__left>p {
        padding-inline: 5%;
    }

    .header__left button {
        width: max-content;
        height: max-content;
        padding: 15px 30px;
    }

    .header__right {
        width: 100%;
        height: 300px;
        background: #fff;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10px;
    }

    .img-cup {
        width: min-content;
        height: 400px;
        transform: translateY(-5%);
        left: 10%;
        z-index: 10;
    }

    .header__right .bkgCup {
        min-width: 300px;
        max-width: 80vw;
        height: 70%;
        border-top-right-radius: 0;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        overflow: hidden;
    }

    .nav__left {
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0 2vh;
    }

    .nav__left img {
        width: 10vh;
    }

    .nav__left p {
        display: none;
    }

    .nav__right {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed !important;
        margin: 0;
        top: 0;
        right: 0;
        width: calc(40% - 8vw);
        height: 100vh;
        padding: 12vh 4vw 6vh 4vw;
        background: #d8d8d8;
        z-index: 999 !important;
        transition: .3s ease;
        opacity: 1;
    }

    .closed {
        opacity: 0;
        right: -30%;
        pointer-events: none;
    }

    .nav__right .bottom-line {
        cursor: auto;
        margin: 2.5vh 0;
    }

    .index {
        margin: 2vh 0;
        position: relative;
    }

    .visible p {
        display: block;
        margin: 10px 0;
    }

    .visible:hover {
        border-bottom-color: transparent;
    }

    .visible.closeNav {
        display: flex;
    }

    .ourStores {
        margin: 0;
    }

    .buttonAccess {
        margin: 2.5vh 0;
    }

    .signIn:hover {
        background: rgba(0, 0, 0, 0.164);
    }

    main {
        margin-top: 40px;
    }

    .features {
        flex-direction: column-reverse !important;
    }

    .photo:hover>img {
        transform: none;
    }

    .photo {
        width: 100%;
        height: 50%;
    }

    .photo img {
        width: 100%;
        height: 50%;
    }

    .description {
        width: 90%;
        padding-inline: 6%;
    }
}

@media screen and (max-width:730px) {
    .terms {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .terms p {
        margin: 12px 0;
    }

    .divider {
        display: none;
    }
}


@media screen and (max-width:600px) {
    .nav__right {
        width: calc(50% - 8vw);
    }

    .section h6 {
        font-size: 17px;
    }

    .clarification,
    .caution {
        width: calc(100% - 40px);
        padding: 0 20px;
    }

    .terms,
    .socials,
    .rights {
        margin-left: 20px;
    }

    .articles {
        margin: 0 5px 0 20px;
    }

    .section {
        padding: 0;
    }
}

@media screen and (max-width:500px) {
    .nav__right {
        width: calc(100% - 8vw);
    }

    .nav__left {
        margin: 0 2vh 0 2vh;
    }

    .nav__left a img {
        width: 50px;
    }

    .openNav {
        width: 24px;
    }
}

@media screen and (max-width:450px) {

    .highlight {
        font-size: 3rem;
    }

    .socials {
        flex-wrap: wrap;
        gap: 2vh 1vh;
        padding-top: 15px;
    }
}