nav.scrolled {
    position: sticky;
    top: -100%;
    left: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #ffffff !important;
    transition: .3s ease;
    animation: fadeDown .5s ease forwards;
}

@keyframes fadeDown {
    to {
        top: 0;
    }
}

.nav__left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-left: 4vh;
}

.nav__left a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__left img {
    width: 9vh;
    cursor: pointer;
    object-fit: contain;
    user-select: none;
    margin-right: 20px;
}

.index,
.index>a {
    color: #000000de;
    padding: .2vh 0;
    position: relative;
}

.index::before {
    content: "";
    width: 0;
    height: 3px;
    background: var(--primary);
    border-radius: 5px;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: .3s ease;
}

.index {
    margin: 0 2vh;
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 3px;
    cursor: pointer;
}

.index:hover,
.index:hover>a {
    color: var(--primary);
}

.index:hover::before {
    width: 30px;
}

.nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4vh;
    position: relative;
    transition: .5s ease;
}

.nav__right>div {
    cursor: pointer;
}

.ourStores {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4vh;
    color: #000000de;
    margin-right: .7vh;
    margin-right: 30px;
}

.ourStores ion-icon {
    padding-right: 5px;
    font-size: 20px;
}

.ourStores p {
    font-size: 2.3vh;
    color: #000000de;
}

.ourStores:hover>p,
.ourStores:hover>ion-icon {
    color: var(--primary);
    transition: .3s ease;
}

.buttonAccess {
    padding: 7px 15px;
    border: .1vh solid var(--tertiary);
    border-radius: 100vh;
    font-size: 2.3vh;
    transition: .2s ease;
    margin-right: 2vh;
}

.signIn:hover {
    background: rgb(231, 231, 231);
}

.joinNow {
    background: var(--tertiary);
    color: var(--secondary);
}

.joinNow:hover {
    background: #081d16;
    border-color: #081d16;
}



/* RESPONSIVE DESIGN */
.openNav {
    position: relative;
    cursor: pointer;
    z-index: 100000;
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

.openNav span {
    width: 100%;
    height: 2px;
    background: #333333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s ease;
}

.openNav span:nth-child(1) {
    top: calc(50% - 5px);
}

.openNav span:nth-child(3) {
    top: calc(50% + 5px);
}

.openNav::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    transform: scale(0);
    background: #dddddd;
    z-index: -1;
    border-radius: 50%;
    transition: .3s ease;
}

.openNav:hover::before {
    transform: scale(1);
}


.openNav.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.openNav.active span:nth-child(2) {
    opacity: 0;
}

.openNav.active span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}


.openNav svg {
    fill: #000000de;
}

.hide {
    display: none;
    opacity: 0;
}

.visible {
    opacity: 1;
    transition: .5s ease;
}